.btn-google {
  background-color: #dd4b39;
}
.btn-google:hover {
  background-color: #cb2027;
}

.btn-facebook {
  background-color: #3b5998;
}
.btn-facebook:hover {
  background-color: #2d4373;
}

.btn-in {
  background-color: #007bb6;
}
.btn-in:hover {
  background-color: #005985;
}
